.btn{ 
  border: none;
  margin: 10px auto;
  padding: 10px 40px 10px 40px;
  width: 100px;
  color: #fff;
  border-radius: 10px;
  transition: 0.2s all;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.btn:active{
  background-color:#40BCAE; 
  border-bottom: 3px solid #2D877C;
}
.verde{
	border-bottom: 3px solid #1A893B;
	background-color:#23BA50; 
}
.vermelho{
  border-bottom: 3px solid #AF0303;
  background-color:#DD0404; 
}
.amarelo{
  border-bottom: 3px solid #C19E1D;
  background-color:#F2C524; 
}
.azul{
  border-bottom: 3px solid rgb(3, 57, 156);
  background-color:rgb(29, 98, 247);
}