body,html{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;

}
.cover{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: rgba(0,0,0,0.8);
}
.Menu{
    display: grid;
    align-items: baseline;
    margin: 10% auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    overflow-y: auto;
}
.Menu label{
    font-size: 20px;
    margin: 20px auto;
}
.Menu input , .Menu select{
    border-radius: 20px;
    padding: 10px;
    margin: 0px auto;
}