@keyframes subirCreditos{
	from{ transform: translateY( 0% ) }
	to  { transform: translateY( -90% ) }
}
.creditos{
	animation: infinite subirCreditos 30s linear;
	text-align: center;
	position: relative;
	color: #fff;
}
.creditos h1{
	font-size: 70px;
}
.creditos p{
	font-size: 30px;
}